# Local environment files
.env
.env.local

# Source control management files
.git/
.gitignore
.svn/

# Build artifacts and temporary files
/dist
/tmp
*.log

# Node.js dependencies
/node_modules

# OS-specific and editor-specific files
.DS_Store
.vscode/
*.swp
*.swo
*.swn
*.bak
*.pyc
*.pyo
*.class
